@charset "UTF-8";
/* CSS Document */
ul {list-style-type:none;margin:0;padding:0;}
li{dislay:inline;float:right}
a {display:block; padding-right:8px;background-color:#C86C6E}

body style {background-image: url("images/fire gradient.jpg")}

h1 style {color:white;}

	p style {color:white;}

	#container{width:1200px;
	margin:0 auto;}


/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 1200px) {
#container {
    width: 100%;
    margin: 0 auto;
   background-image: url("images/fire gradient.jpg")
}
.flex-responsive {
	flex: 100%;}
}